<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wireless Media.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93F1B8181D5F791D007A4055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F1B8311D5F791E007A4055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F1B83C1D5F791E007A4055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
